/* Nav Styles */

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(95, 235, 95);
  color: rgb(92, 88, 88);
  padding-left: 1%;
}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding-right: 3%;
  align-items: center;
}

/* Box Styles */
.item-box {
  display: flex;
  padding: 1rem;
  border: solid gray 1px;
  margin: 2%;
}

.item-field{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
  width: 80%;
  height: 50%;
  flex-wrap: wrap;
}
